<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登录 - 商城</title>
    <link href="css/login.css" rel="stylesheet">
    <!--    <script src="https://unpkg.com/vue@2.6"></script>-->
    <script src="import/vue.js"></script>
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="import/axios.min.js"></script>
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="login" id="login">
        <h1>商城</h1>
        <form>
            <input id="username" placeholder="用户名" required type="text" v-model="username">
            <input id="password" placeholder="密码" required type="password" v-model="password">
            <button @click="login" id="login_button" type="button">Login</button>
            <button @click="register" type="button">sign in</button>
        </form>
    </div>

    <script>
        new Vue({
            el: '#login',
            data: {
                username: '',
                password: '',
                errorMessage: ''
            },
            methods: {
                login() {
                    const params = new URLSearchParams();
                    params.append('username', this.username);
                    params.append('password', this.password);
                    axios.post('/login', params)
                        .then(response => {
                            const result = response.data;
                            if (result.code === 1) {
                                this.$message.success('登录成功');
                                const role = fetchRole(); // 0：普通用户，1：管理员
                                if (role === 1) {
                                    window.location.href = '/product/admin';
                                } else {
                                    window.location.href = '/product';
                                }
                            } else {
                                this.$message.error(result.msg);
                            }
                        })
                },
                register() {
                    window.location.href = 'register.html'
                }
            }
        });
    </script>

    <script>
        let login = document.querySelector('.login');
        let effect;

        login.addEventListener('mouseenter', function (e) {
            effect = document.createElement('span')
            login.appendChild(effect);
            effect.style.animation = 'mouse-in .5s ease-in-out forwards';
            // 计算进入位置
            let top = e.clientY - e.target.offsetTop;
            let left = e.clientX - e.target.offsetLeft;
            effect.style.top = top + 'px';
            effect.style.left = left + 'px';
        })

        login.addEventListener('mouseleave', function (e) {
            effect.style.animation = 'mouse-out .5s ease-in-out forwards';
            // 计算离开位置
            let top = e.clientY - e.target.offsetTop;
            let left = e.clientX - e.target.offsetLeft;
            effect.style.top = top + 'px';
            effect.style.left = left + 'px';
        })

        // 监听回车键执行login
        document.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                document.getElementById('login_button').click();
            }
        });
    </script>
</body>

</html>