<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城</title>
    <script src="import/vue.js"></script>
    <script src="import/axios.min.js"></script>
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/product.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-header class="header">
                <el-row align="middle" justify="space-between" type="flex">
                    <el-col>
                        <el-menu :default-active="activeIndex" mode="horizontal"
                                 style="background-color: rgba(255, 255, 255, 0.2)">
                            <el-menu-item @click="navigateTo('/product')" index="1"><i class="el-icon-goods"></i>商品列表</el-menu-item>
                            <el-menu-item @click="navigateTo('/cart')" index="2"><i class="el-icon-shopping-cart-2"></i>购物车</el-menu-item>
                            <el-menu-item @click="navigateTo('/order')" index="3"><i class="el-icon-files"></i>订单管理</el-menu-item>
                            <el-menu-item @click="navigateTo('/user')" index="4"><i class="el-icon-user"></i>个人信息</el-menu-item>
                            <el-menu-item style="float: right">
                                <el-col>
                                    <el-button @click="logout" plain type="danger">退出登录</el-button>
                                </el-col>
                            </el-menu-item>
                            <el-menu-item style="float: right">
                                <el-input class="input-with-select" placeholder="搜索" v-model="searchQuery">
                                    <el-button @click="searchProduct" circle icon="el-icon-search"
                                               slot="append"></el-button>
                                </el-input>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-header>

            <el-main class="main-content">
                <el-row>
                    <el-col :key="product.id" :offset="product > 0 ? 2 : 0" :span="6" v-for="product in products">
                        <!--商品卡片-->
                        <el-card @click.native="showDetail(product)" class="product-card" shadow="hover">
                            <img :src="product.image" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <span>{{ product.brand }} {{ product.model }}</span>
                                <span class="product-price">{{ product.price | currency }}</span>
                            </div>
                            <el-button @click.stop="addToCart(uid, product.id)" icon="el-icon-shopping-cart-2"
                                       size="mini" style="float: right; margin: 8px 0"
                                       type="primary">
                            </el-button>
                        </el-card>
                    </el-col>
                </el-row>
                <el-pagination
                        :page-size="pageSize"
                        :page-sizes="[4, 8, 12, 24]"
                        :total="totalProducts"
                        @current-change="pageChange"
                        @size-change="sizeChange"
                        background
                        layout="total, prev, pager, next, sizes"
                ></el-pagination>
            </el-main>

        </el-container>

        <!--商品详情弹出卡片-->
        <el-dialog :visible.sync="dialogVisible" class="detail-card" width="50%">
            <div class="detail-card-content">
                <div class="card-image">
                    <img :src="selectedProduct.image" alt="Product Image">
                </div>
                <div class="detail-title">
                    <el-form :inline="true" label-position="left" label-width="120px">
                        <el-form-item style="margin-left: 25%">
                            <span style="font-size: 24px;">{{ selectedProduct.brand }} {{ selectedProduct.model }}</span>
                        </el-form-item>
                        <el-form-item style="float: right; margin-right: 20%">
                            <el-button @click="addToCart(uid, selectedProduct.id)" icon="el-icon-shopping-cart-2"
                                       size="mini" style="float: right; margin: 6px 0"
                                       type="primary">
                            </el-button>
                        </el-form-item>
                        <el-form-item style="float: right; margin-right: 8px">
                        <span class="product-price" style="font-size: 28px">{{ selectedProduct.price | currency }}</span>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="detail">
                    <div v-html="selectedProduct.detail"></div>
                </div>
            </div>
        </el-dialog>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                uid: '0',
                activeIndex: '1',
                searchQuery: '',
                products: [],
                totalProducts: 0,
                page: 1,
                pageSize: 12,
                dialogVisible: false,
                selectedProduct: {}
            },
            created() {
                this.uid = fetchUid();
                this.fetchProducts(this.page, this.pageSize);
            },
            methods: {
                navigateTo(path) {
                    window.location.href = path;
                },
                fetchProducts(page, size) {
                    axios.get('/product/getProduct', {
                        params: {
                            page: page,
                            size: size
                        }
                    }).then(response => {
                        const result = response.data;
                        if (result.code === 1) {
                            this.products = result.data.rows;
                            this.totalProducts = result.data.total;
                        } else {
                            this.$message.error('获取商品列表失败');
                        }
                    }).catch(error => {
                        console.error('获取商品列表失败:', error);
                        this.$message.error('获取商品列表失败');
                    });
                },
                pageChange(page) {
                    this.page = page;
                    this.fetchProducts(page, this.pageSize);
                },
                sizeChange(size) {
                    this.pageSize = size;
                    this.fetchProducts(this.page, size);
                },
                showDetail(product) {
                    this.selectedProduct = product;
                    this.dialogVisible = true;
                },
                addToCart(uid, pid) {
                    // console.log('uid:', uid, 'pid:', pid);
                    axios.get('/cart/addCart', {
                        params: {uid: uid, pid: pid}
                    }).then(response => {
                        const result = response.data;
                        if (result.code === 1) {
                            this.$message.success(result.data);
                        } else {
                            this.$message.error(result.msg);
                        }
                    }).catch(error => {
                        this.$message.error('添加失败');
                    });
                },
                searchProduct() {
                    // 搜索函数
                },
                logout: logout
            },
            filters: {
                currency(value) {
                    //return '¥' + value.toFixed(2);
                    return '¥' + value;
                }
            }
        });
    </script>
</body>
</html>